.page__header {
  background-color: #fdfdff;
  margin-top: 2px;
}

.page__headerContent {
  margin-bottom: 6px;
  display: inline-block;
  padding: 1.5rem 1.75rem;
}

.pageHeader__iconSide {
  margin-right: 1rem !important;
}

.iconBox {
  padding: 14px;
}

.pageHeader__contentSide {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: flex-start;
}

.pageHeader__contentSide > h3 {
  font-size: 22px;
  margin-top: 0.65rem;
}

.pageHeader__contentSide > h4 {
  font-size: 15px;
  margin-left: 2px;
}
