.app__sideMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 18%;
  background-color: #253053;
  color: rgb(243, 243, 243);
  transition: width 0.25s;
}

.sidebar__header {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #34457a;
  padding: 0.5rem 0.75rem;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5px;
}

.sidebar__headerNoUser {
  justify-content: space-between !important;
}

.sidebar__headerNoUser > a > button {
  color: lightgray !important;
  text-transform: inherit;
}

.sideBar__userName {
  margin-left: 0.5rem;
}

.sideBar__userName > h3 {
  font-size: 18px;
}

.sideBar__userName > span {
  font-size: 13px;
  color: rgb(184, 184, 184);
}

.sideBar__menuIcon {
  margin-left: auto !important;
}

.sideBar__menuIcon > span > svg {
  color: rgb(221, 221, 221) !important;
}

.sideBar__navItem {
  color: rgb(241, 241, 241);
  font-size: 18px;
  padding: 1.25rem 0;
  padding-left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}

.sideBar__navItem:hover {
  padding-left: 40px;
  background-color: #314175;
}

.sideBar__ActiveNavItem {
  background-color: #283664;
}

.sideBar__navItem > svg {
  margin-right: 15px;
}

/* Shrinkd Stylings */

.appSideMenu__shrinked {
  width: 5rem;
}

.appSideMenu__shrinked .sidebar__header {
  height: 5rem;
  justify-content: center;
}

.appSideMenu__shrinked .sidebar__header .sideBar__userAvatar {
  width: 45px !important;
  height: 45px !important;
}

.appSideMenu__shrinked .sideBar__navItem span {
  display: none;
}

.appSideMenu__shrinked .sideBar__navItem {
  padding-left: 0;
  justify-content: center;
}

.appSideMenu__shrinked .sideBar__navItem:hover {
  padding-left: 0;
}

.appSideMenu__shrinked .sideBar__navItem svg {
  font-size: 25px;
  margin-right: 7px;
}

.appSideMenu__shrinked .sideBar__navItem:hover svg {
  transform: scale(1.175);
}
