.welcomeSection {
  text-align: center;
  margin: 4rem 1rem 0;
}

.welcomeSection > h1 {
  text-transform: uppercase;
  /* color: #f50057; */
  color: #2a4cbd;
  font-size: calc(14px + 1.65vw);
  font-family: "Poppins", sans-serif !important;
}

.welcomeSection > h3 {
  font-weight: 400;
  margin-top: 0.65rem;
  font-size: calc(12px + 1vw);
  font-family: "Poppins", sans-serif !important;
}

.welcomeSection > h2 {
  font-weight: 400;
  color: #2a4cbd;
  margin-top: 0.65rem;
  font-size: calc(14px + 1.25vw);
  font-family: "Poppins", sans-serif !important;
}

.copyright__section {
  margin-top: 1.5rem;
}

.copyright__section > h3 {
  font-family: "Poppins", sans-serif !important;
  font-size: calc(12px + 0.75vw);
}

.copyright__section > h3 > a {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  color: rgb(63, 63, 63);
  transition: color 0.2s;
}

.copyright__section > h3 > a:hover {
  color: #f50057;
}
